@font-face {
	font-family: "MyriadPro-Cond";
	src: url("../fonts/MyriadPro-Cond.eot");
	src: local("☺"), url("../fonts/MyriadPro-Cond.woff") format("woff"),
		url("../fonts/MyriadPro-Cond.ttf") format("truetype"), url("../fonts/MyriadPro-Cond.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "MyriadPro-Bold";
	src: url("../fonts/MyriadPro-Bold.eot");
	src: local("☺"), url("../fonts/MyriadPro-Bold.woff") format("woff"),
		url("../fonts/MyriadPro-Bold.ttf") format("truetype"), url("../fonts/MyriadPro-Bold.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
head-content,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
body {
	font-family: "MyriadPro-Cond";
}
.wrapper {
	margin: 30px auto;
	max-width: 1100px;
}
header {
	background: #333333;
	height: 135px;
	width: 1100px;
}
.head-content {
	height: 135px;
	width: 960px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding-top: 55px;
}
.head-content__title {
	color: #eeeeee;
	font-family: "Myriad Pro";
	font-size: 60px;
	font-weight: 400;
	line-height: 16px;
	text-align: left;
	letter-spacing: -2.4px;
	height: 56px;
}

.head-content__links {
	height: 13px;
	display: flex;
	justify-content: space-between;
	color: #eeeeee;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 16px;
	line-height: 42px;
	letter-spacing: -0.64px;
}

.head-content__links a {
	color: #eeeeee;
}
.head-content__links a:hover {
	color: #00aeef;
}
.head-content__links_home:after,
.head-content__links_about:after,
.head-content__links_serv:after,
.head-content__links_portf:after {
	margin: 15px;
	content: "--";
}

main {
	margin: 0 70px;
}

.main__title_high {
	margin-top: 70px;
	width: 801px;
	height: 56px;
	color: #333333;
	font-size: 60px;
	font-weight: 700;
	line-height: 16px;
	letter-spacing: -2.4px;
}
.main__title_high_span {
	color: #00bff3;
}
.main__title_low {
	width: 966px;
	height: 47px;
	color: #bbbbbb;
	font-size: 50px;
	line-height: 16px;
	letter-spacing: -2px;
	border-bottom: 3px dotted #cccccc;
	padding-bottom: 50px;
}
.main__text {
	width: 966px;
	height: 116px;
	color: #555555;
	font-size: 34px;
	line-height: 42px;
	font-weight: 400;
	letter-spacing: -1.36px;
	letter-spacing: -1.36px;
	border-bottom: 3px dotted #cccccc;
	padding: 20px 0 140px 0;
	margin-bottom: 30px;
}
.main__text_span1,
.main__text_span2 {
	font-family: "MyriadPro-Bold";
}

.main__description {
	display: flex;
	justify-content: space-between;
	border-bottom: 3px dotted #cccccc;
	padding-bottom: 30px;
}
.main__description__design,
.main__description__marketing,
.main__description__optimization {
	width: 283px;
	height: 351px;
	box-shadow: 3px 4px 5px rgba(170, 170, 170, 0.75);
	background-color: #00aeef;
	margin: 2px;
}
.main__description__design_title,
.main__description__marketing_title,
.main__description__optimization_title {
	color: #ffffff;
	width: 237px;
	font-size: 40px;
	line-height: 40px;
	text-align: center;
	letter-spacing: -1.6px;
	padding: 20px 0;
	margin: 0 auto;
	border-bottom: 2px dotted #ffffff;
}
.main__description__design_desk,
.main__description__optimization_desk,
.main__description__marketing_desk {
	width: 283px;
	height: 136px;
	color: #ffffff;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	padding: 29px;
}
.main__description__design__link-container,
.main__description__optimization__link-container,
.main__description__marketing__link-container {
	width: 232px;
	height: 41px;
	box-shadow: inset 0 0 5px rgba(35, 81, 98, 0.75);
	background-color: #0076a3;
	margin: 65px auto 0 auto;
}
.main__description__design__link-container_link,
.main__description__optimization__link-container_link,
.main__description__marketing__link-container_link {
	padding-top: 9px;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: -0.72px;
}
.main__description__design__link-container_link a,
.main__description__optimization__link-container_link a,
.main__description__marketing__link-container_link a {
	color: #ffffff;
}
.main__bot-content {
	display: flex;
	margin-top: 30px;
	padding-bottom: 30px;
	border-bottom: 3px dotted #cccccc;
}
.main__bot-content__left-part {
	flex: 0 1 auto;
	border-right: 3px dotted #cccccc;
	padding-right: 30px;
}
.main__bot-content__left-part_title {
	color: #555555;
	font-size: 24px;
	line-height: 42px;
	letter-spacing: -0.96px;
}
.main__bot-content__left-part__box-sarah {
	margin-top: 20px;
	display: flex;
}
.main__bot-content__left-part__box-sarah_img {
	width: 84px;
	height: 84px;
	background-color: #cccccc;
	margin-right: 20px;
	background-size: cover;
	flex: 0 0 auto;
}
.main__bot-content__left-part__box-sarah__rec {
}
.main__bot-content__left-part__box-sarah__rec_comment {
	color: #555555;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	line-height: 21px;
	margin-bottom: 10px;
}
.main__bot-content__left-part__box-sarah__rec__user {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #555555;
}
.main__bot-content__left-part__box-sarah__rec__username {
	font-weight: 700;
}
.main__bot-content__left-part__box-sarah__rec__user-pos {
	color: #00aeef;
}
.main__bot-content__left-part__box-kate {
	margin: 30px 0;
	display: flex;
}
.main__bot-content__left-part__box-kate_img {
	width: 84px;
	height: 84px;
	background-color: #cccccc;
	margin-right: 20px;
	background-size: cover;
	flex: 0 0 auto;
}
.main__bot-content__left-part__box-kate__rec {
}
.main__bot-content__left-part__box-kate__rec__comment {
	color: #555555;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	line-height: 21px;
	margin-bottom: 10px;
}
.main__bot-content__left-part__box-kate__rec__user {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #555555;
}
.main__bot-content__left-part__box-kate__rec__username {
	font-weight: 700;
}
.main__bot-content__left-part__box-kate__rec__user-pos {
	color: #00aeef;
}
.main__bot-content__left-part__box-dave {
	margin-bottom: 30px;
	display: flex;
}
.main__bot-content__left-part__box-dave_img {
	width: 84px;
	height: 84px;
	background-color: #cccccc;
	margin-right: 20px;
	background-size: cover;
	flex: 0 0 auto;
}
.main__bot-content__left-part__box-dave__rec {
}
.main__bot-content__left-part__box-dave__rec__comment {
	color: #555555;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	line-height: 21px;
	margin-bottom: 10px;
}
.main__bot-content__left-part__box-dave__rec__user {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #555555;
}
.main__bot-content__left-part__box-dave__rec__username {
	font-weight: 700;
}
.main__bot-content__left-part__box-dave__rec__user-pos {
	color: #00aeef;
}

.main__bot-content__right-part {
	flex: 0 1 auto;
	padding-left: 30px;
}
.main__bot-content__right-part_title {
	color: #555555;
	font-size: 24px;
	line-height: 42px;
	letter-spacing: -0.96px;
}
.main__bot-content__right-part_img-title {
	margin: 10px 0;
	color: #888888;
	font-size: 20px;
	line-height: 16px;
}
.main__bot-content__right-part_img {
}
.main__bot-content__right-part_desk {
	color: #555555;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	line-height: 21px;
	text-align: left;
	margin: 20px 0;
}
.main__bot-content__right-part_link {
	color: #00aeef;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	line-height: 20px;
}
.main__bot-content__right-part_link a {
	color: #00aeef;
}

.footer {
	margin: 20px 70px;
	color: #888888;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 16px;
	line-height: 16px;
	letter-spacing: -0.64px;
}
